---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" date="Last updated 07 July 2023">

<p>Welcome to my part of the internet!! My name is Michael Brennan! (he/him)</p>
<br>

<p>I'm soon to be a freshman at Northeastern University, starting September 2023, and I'll be pursuing a degree in computer engineering.</p>
<br>

<p>My main interests are low-level and embedded systems, and GPU programming. This summer I've been working on <a href="https://github.com/tech0tron/oceanman">oceanman</a>, which aims to be a
realistic PBR renderer made with wgpu and Rust.</p>
<br>

<p>This blog is a bit empty right now, but stay tuned for the future!</p>

</Layout>
